.add-by-step {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  &__step-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &--step {
      display: flex;
      cursor: pointer;
      .status {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: darkgray;
        margin-right: 10px;
        position: relative;
        font-weight: bold;
        &::before {
          content: "1";
          position: absolute;
          left: 11px;
          top: -1px;
          color: white;
          font-size: 25px;
        }
      }

      .status-step1 {
        &::before {
          content: "1";
        }
      }

      .status-step2 {
        &::before {
          content: "2";
        }
      }

      .status-step3 {
        &::before {
          content: "3";
        }
      }

      .status-step4 {
        &::before {
          content: "4";
        }
      }

      .valid {
        background: #28a745;
        &::before {
          content: "";
          width: 12px;
          height: 22px;
          border: solid white;
          left: 14px;
          top: 5px;
          font-size: 30px;
          border-width: 0 4px 4px 0;
          transform: rotate(45deg);
        }
      }

      .invalid {
        background: indianred;
        &::before {
          content: "!";
          left: 14px;
          top: -5px;
          font-size: 30px;
          font-weight: bold;
        }
      }

      .active {
        background: #28a745;
      }

      .step-name {
        font-weight: bold;
        margin-top: 5px;
        font-size: 18px;
      }
    }
  }
  &__step-content {
    text-align: left;

    .form-group {
      width: 60%;
      margin-bottom: 50px;
    }

    &__step4 {
      .overview {
        margin-bottom: 30px;
        &__detail {
          display: flex;
          margin-bottom: 10px;
          &__info {
            width: 30%;
            font-weight: bold;
          }
          &__view {
            width: 60%;
          }
        }
      }
      .action {
        display: flex;
      }
    }
  }
  &__actions {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    .actions {
      button {
        margin-right: 80px;
      }
    }
    .btn-success:disabled {
      background: gray;
      border-color: gray;
    }
  }
}
