.menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
  &__logo {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    padding: 0px 15px;
    padding-bottom: 7px;
  }
  &__about {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    padding: 0px 15px;
  }
}
