@mixin max-xxl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin max-xl {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin max-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.view-member-detail {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  .member-detail {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    background-color: darkseagreen;
    @include max-xl() {
      flex-direction: column;
      width: 90%;
    }
    &__avatar {
      @include max-xl() {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .avatar {
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin-bottom: 20px;
        overflow: hidden;
        margin: 25px 0px 20px 25px;
        border: 3px solid white;
        @include max-xl() {
          width: 200px;
          height: 200px;
        }
        img {
          width: 100%;
          //   border: 2px solid rosybrown;
        }
      }
      .name {
        font-size: 30px;
        font-weight: bold;
        color: darkgreen;
      }
    }
    &__info {
      text-align: left;
      margin-left: 300px;
      margin-top: 20px;
      color: darkgreen;
      @include max-xl() {
        margin-left: 0px;
      }
      .detail {
        display: flex;
        margin-right: 20px;
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
        @include max-xl() {
          font-size: 14px;
        }
        .label {
          width: 200px;
          @include max-xl() {
            width: 50%;
          }
        }
        .name {
          font-weight: normal;
        }
      }
      .desc {
        margin-top: 40px;
        padding-right: 50px;
      }
    }
  }
  .add-image {
    margin: 30px 0;
    button {
      width: 200px;
      height: 40px;
    }
  }
  .list-photo {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    width: 80%;
    margin: 30px auto;
    // margin-left: 20px;
    @include max-xl() {
      width: 98%;
      margin-left: 12px;
    }
    .photo {
      width: 24.3%;
      padding: 5px;
      margin-bottom: 7px;
      display: flex;
      position: relative;
      padding-top: 24%;
      margin-right: 8px;
      overflow: hidden;
      z-index: 10;
      background-color: white;
      text-align: center;
      @include max-xl() {
        width: 47.5%;
        padding-top: 45%;
      }
      img {
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
      }
      span {
        position: absolute;
        font-size: 17px;
        padding: 1px 10px;
        border-radius: 50%;
        display: none;
        text-align: center;
      }
      .bgr {
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.4s;
      }
      .title {
        bottom: 15%;
        color: white;
      }
      &:hover {
        .btn {
          position: absolute;
          display: block;
          z-index: 200;
          top: 0px;
          right: 0px;
        }
        .edit {
          position: absolute;
          display: block;
          z-index: 200;
          top: 0px;
          right: 35px;
          padding:2px 12px;
        }
        .title {
          display: block;
          width: 100%;
          bottom: 15%;
          z-index: 200;
          color: white;
          font-size: 18px;
          font-weight: bold;
        }
        .bgr {
          z-index: 200;
          height: 100%;
          transition: ease 0.5s;
        }
      }
    }
  }
}

.modal-dialog {
  //   top: 13%;
  min-width: 680px;
  @include max-xl() {
    min-width: 100px;
  }
  .modal-content {
    .view-img-detail {
      position: relative;
      img {
        width: 100%;
      }
      .next {
        position: absolute;
        left: -60px;
        top: 45%;
        padding: 14px 10px;
        border-radius: 50%;
      }
      .prev {
        position: absolute;
        right: -60px;
        top: 45%;
        padding: 14px 10px;
        border-radius: 50%;
      }
    }
    .modal-delete {
      padding: 20px;
      font-size: 18px;
      div:first-child {
        margin-bottom: 30px;
      }
      div:last-child {
        float: right;
        margin-right: 10px;
      }
    }
  }
}
